<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/checkout.css">
    <title>Checkout</title>
</head>
<body>
    <header>
        <a href="detail.html">
            <img src="../storage/img/arrow-left.png" alt="logo">
        </a>
        <p>Checkout</p>
        <a href="#">
            <img src="../storage/img/menu.png" alt="logo">
        </a>
    </header>
    <main>
        <section class="items">
            <article>
                <img src="../storage/img/product-2.png">
                <div class="product-info">
                    <div class="name-price">
                        <div class="name">
                            <p>Modern light clothes</p>
                            <p>T-Shirt</p>
                        </div>
                        <p>$212.99</p>
                    </div>
                    <div class="quantity">
                        <img src="../storage/img/menu1.png">
                        <div class="quantity-info">
                            <img src="../storage/img/minus.png">
                            <input type="number" value="4">
                            <img src="../storage/img/add.png">
                        </div>
                    </div>
                </div>
            </article>
            <hr>
            <article>
                <img src="../storage/img/product-1.png">
                <div class="product-info">
                    <div class="name-price">
                        <div class="name">
                            <p>Light Dress Bless</p>
                            <p>Dress modern</p>
                        </div>
                        <p>$162.99</p>
                    </div>
                    <div class="quantity">
                        <img src="../storage/img/menu1.png">
                        <div class="quantity-info">
                            <img src="../storage/img/minus.png">
                            <input type="number" value="1">
                            <img src="../storage/img/add.png">
                        </div>
                    </div>
                </div>
            </article>
            <hr>
        </section>
        <section class="shipping-info">
            <p>Shipping Information</p>
            <div class="visa">
                <div class="visa-logo">
                    <img src="../storage/img/VISA_PICT.png">
                    <p>**** **** **** </p>
                    <p>2143</p>
                </div>
                <img src="../storage/img/arrow-down.png">
            </div>
            <div class="payment-info">
                <div>
                    <p>Total (9 items)</p>
                    <p>$1,014.95</p>
                </div>
                <div>
                    <p>Shipping Fee</p>
                    <p>$.0.00</p>
                </div>
                <div>
                    <p>Discount</p>
                    <p>$.0.00</p>
                </div>
                <hr>
                <div>
                    <p>Sub Total</p>
                    <p>$1,014.95</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <a href="#">Pay</a>
    </footer>
</body>
</html>