<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/detail.css">
    <title>Detail</title>
</head>
<body>
    <header>
        <div class="icons">
            <a href="../index.html"><img src="../storage/img/arrow-left.png"></a>
            <a href="#"><img src="../storage/img/heart-black.png"></a>
        </div>
        <img src="../storage/img/product-1.png">
    </header>
    <main>
        <section class="name">
            <article>
                <h1>Light Dress Bless</h1>
                <div class="rating-views">
                    <img src="../storage/img/star.png">
                    <div>
                        <p>5.0</p>
                        <p>(7.932 reviews)</p>
                    </div>
                </div>
            </article>
            <article>
                <img src="../storage/img//minus.png">
                <input type="number" value="1">
                <img src="../storage/img/add.png">
            </article>
        </section>
        <section class="description">
            <details>
                <summary>Its simple and elegant shape makes it perfect for
                    those of you who like you who want minimalist
                    clothes</summary>
                <p>offering a sleek and versatile style that can easily be dressed up or down.</p>
            </details>
        </section>
    </main>
    <hr>
    <section class="size-color">
        <div class="size">
            <p>Choose Size</p>
            <ul>
                <li>S</li>
                <li>M</li>
                <li>L</li>
                <li>XL</li>
            </ul>
        </div>
        <div class="color">
            <p>Color</p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </section>
    <footer>
        <a href="#">
            <img src="../storage/img/shopping-cart.png">
            <p>Add to Cart | $162.99</p>
            <del>$190.99</del>
        </a>    
    </footer>
</body>
</html>